<div class="row">
    <div class="col-md-4">  
    </div>
  </div>
  <input type="text" [(ngModel)]="filterValue" >
  <button class="btn btn-primary" (click)="onFilter()">Filter</button>
  <br>
  <ng-table [config]="config"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
  
 
  <button class="btn btn-primary" (click)="onPreviousPage()">Previous page</button>
  <span>Page {{dataService.page}} of {{dataService.numberofPages}}</span>
    <button class="btn btn-primary" (click)="onNextPage()" >Next page</button>