<div class="option-dialog-wraper">
    <div *ngIf="filteredData" class="alert alert-dark" role="alert">
        Client name :{{filteredData.clientName}}
      </div>
      <div class="alert alert-dark" role="alert">
        Created on  :{{filteredData.createOn}}
      </div>
      <div class="alert alert-dark" role="alert">
        Total records :{{filteredData.totalRecords}}
      </div>
      <div class="alert alert-dark" role="alert">
        Total amount :{{filteredData.totalAmunt}}
      </div>
      <div class="alert alert-dark" role="alert">
        List of file names :{{filteredData.listOfFiles}}
      </div>
</div>
